<ul class="list-unstyled">
  <% diaries.each do |diary| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(diary.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to diary.user.name, user_path(diary.user) %> <span class="text-muted">posted at <%= diary.created_at %></span>
        </div>
        <div>
          <p class="mb-1"><%= diary.title %></p>
          <p class="mb-1"><%= diary.content %></p>
        </div>
        <% if logged_in? %>
        <div class="btn-group">
          <div class="mr-2">
          <%= link_to "詳細", diary, class: 'btn btn-info btn-sm' %>
          </div>
          <div class="mr-2">
          <% if current_user.like?(diary) %>
            <%= form_with(model: current_user.favorites.find_by(diary_id: diary.id), local: true, method: :delete) do |f| %>
              <%= hidden_field_tag :diary_id, diary.id %>
              <%= f.submit 'unfavorite', class: 'btn btn-warning btn-sm' %>
            <% end %>
          <% else %>
            <%= form_with(model: current_user.favorites.build, local: true) do |f| %>
              <%= hidden_field_tag :diary_id, diary.id %>
              <%= f.submit 'favorite', class: 'btn btn-primary btn-sm' %>
            <% end %>
          <% end %>
          </div>
          <div class="mr-2">
          <% if current_user == diary.user %>
            <%= link_to "Delete", diary, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </li>
  <% end %>
  <%= paginate diaries %>
</ul>