<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <li class="media">
        <img class="mr-2 mb-4 rounded" src="<%= gravatar_url(user, { size: 100 }) %>" alt="">
        <div class="media-body">
          <div>
            <%= user.name %>
          </div>
          <div class="mr-2">
            <%= link_to 'View profile', user_path(user), class: 'btn btn-info btn-sm' %>
          </div>
          <div class="mr-2 btn btn-sm">
            <%= render 'relationships/follow_button', user: user %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>