<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
    
    <div class="collapse navbar-collapse justify-content-start" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item"><%= link_to 'MyPage', user_path(current_user), class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'User', users_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Logout', logout_path, class: 'nav-link', method: :delete %></li>
        <% else %>
          <li class="nav-item"><%= link_to 'Login', login_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Signup', signup_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
    
    <a class="navbar-brand" href="/">Diary</a>
    
  </nav>
</header>